@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz@6..12&display=swap');


*,::after,::before{
    box-sizing: border-box;
}

body{
    font-family: 'Nunito-Sans', sans-serif;
    font-size: 0.875rem;
    opacity: 1;
    overflow-y: scroll;
    margin: 0;
}

a{
    cursor: pointer;
    text-decoration: none;
    font-family: 'Nunito-Sans', sans-serif;
}

li{
    list-style: none;
}


h4{
    font-family: 'Nunito-Sans', sans-serif;
    font-size: 1.275rem;
    columns: var(--bs-emphasis-color);
}
/* layout for dashbiard skeleton */

.wrapper{
    align-items: stretch;
    display: flex;
    width: 100%;
}

#sidebar{
    max-width: 264px;
    min-width: 264px;
    background: var(--bs-dark);
    transition: all 0.35s ease-in-out;
}

.main{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    min-width: 0;
    overflow: hidden;
    transition: all 0.35s ease-in-out;
    width: 100%;
    background-color: var(--bs-dark-bg-subtle);
}

/* sidebar elemnt*/

.sidebar-logo{
    padding: 1.15rem;
}

.sidebar-logo a{
    color: #FF7360;
    font-size: 1.15rem;
    font-weight: 600;
}

.sidebar-nav{
    flex-grow: 1;
    list-style: none;
    margin-bottom: 0;
    padding-left: 0;
    margin-left: 0;
}

.sidebar-header{
    color: #FF7360;
    font-size: .75rem;
    padding: 1.5rem 1.5rem .375rem;
}

a.sidebar-link{
    padding: .625rem 1.625rem;
    color: #FF7360;
    position: relative;
    display: block;
    font-size: 0.875rem;
}

.sidebar-link[data-bs-toggle="collapse"]::after{
    border: solid;
    border-width: 0 .075rem .075rem 0;
    content: "";
    display: inline-block;
    padding: 2px;
    position: absolute;
    right: 1.5rem;
    top: 1.4rem;
    transform: rotate(-135deg);
    transition: all .2s ease-out;
}

.sidebar-link[data-bs-toggle="collapse"].collapsed::after{
    transform: rotate(45deg);
    transition: all .2s ease-out;
}


.avatar{
    height: 40px;
    width: 40px;   
}

.navbar-expand .navbar-nav {
    margin-left: auto;
}

.content{
    flex: 1;
    max-width: 100vw;
    width: 100vw;
}

@media (min-width: 768px){
    .content{
        max-width: auto;
        width: auto;
    }
}

.card{
    box-shadow: 0 0 .875rem 0 rgba(34, 46, 60, .05);
    margin-bottom: 24px;
}

.illustration{
    background-color: var(--bs-primary-bg-subtle);
    color: var(--bs-emphasis-color);
}

.illustration-img{
    max-width: 150px;
    width: 100%;
}

#sidebar.collapsed{
    margin-left: -264px;

}

/* footer and nav */

@media (max-width:767.98px){
    .navbar, footer{
        width: 100vw;
    }
}

.login-background {
    background-image: url('/images/background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}



.profil {
    margin-top: 20px;
    display: flex;
    align-items: center;
    font-size: 10px;
    color: #ffffff;
    align-items: center;
    justify-content: center;
    
}

.circle {
    width: 50px; /* Set the desired width and height for the circle */
    height: 50px;
    background-color: #ffffff; /* Set the background color of the circle */
    border-radius: 50%; /* Makes the shape a circle */
    margin-right: 10px; /* Adjust the spacing between the circle and the text */
}

.nav{
    margin-top: 60px;
}


.Box {
    background:rgb(255, 255, 255);
    padding: 20px;
    border-radius: 5px;
    border : none;
    width: 300px;
    height: 250px;
    text-align: center;
    margin-top: 60px; 
}

.Box2 {
    background:rgba(255, 255, 255, 0.9);
    padding: 20px;
    border-radius: 5px;
    width: 900px;
    height: 500px;
    text-align: center;
    margin-top: 60px; 
}
h2 {
    line-height: 5px;
}

input {
    margin-top: 20px;
    margin-bottom: -10px;
    padding: 5px;
    align-items: center;
    width: 250px;
}

input:focus {
    background-color: #f1aca3;
}

input:hover {
    color: #f1aca3;
    transition: border-color 0.5s, color 0.5s;
}

.username input[type="text"]:hover {
    border-bottom: solid #f1aca3;
}

.password input[type="password"]:hover {
    border-bottom: solid #f1aca3;
}

.username input[type="text"] {
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: 3px solid #ddd;
    font-size: 16px;
}

.password input[type="password"] {
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: 3px solid #ddd;
    font-size: 16px;
}

.button .btn:hover {
    background-color: #f1aca3;
    cursor: pointer;
    color: #000000;
}

.button .btn {
    height: 40px;
    width: 70px;
    background-color: #FF7360;
    color : #ffffff;
    border-radius: 5px;
}