@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz@6..12&display=swap');

*,::after,::before{
    box-sizing: border-box;
}

body{
    font-family: 'Nunito-Sans', sans-serif;
    font-size: 0.875rem;
    opacity: 1;
    overflow-y: scroll;
    margin: 0;
}

a{
    cursor: pointer;
    text-decoration: none;
    font-family: 'Nunito-Sans', sans-serif;
}

li{
    list-style: none;
}


h4{
    font-family: 'Nunito-Sans', sans-serif;
    font-size: 1.275rem;
    columns: var(--bs-emphasis-color);
}
/* layout for dashbiard skeleton */

.wrapper{
    align-items: stretch;
    display: flex;
    width: 100%;
}

#sidebar{
    max-width: 264px;
    min-width: 264px;
    background: var(--bs-dark);
    transition: all 0.35s ease-in-out;
	width: 80px;
	transition: width 0.3s ease;
}
#sidebar.minimized{
	width: 50px;
}

.main{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    min-width: 0;
    overflow: hidden;
    transition: all 0.35s ease-in-out;
    width: 100%;
    background-color: var(--bs-dark-bg-subtle);
}

/* sidebar elemnt*/

.sidebar-logo{
    padding: 1.15rem;
    width: 15%;
    
}

.sidebar-logo a{
    color: #FFF;
    font-size: 1.15rem;
    font-weight: 600;
}

.sidebar-nav{
    flex-grow: 1;
    list-style: none;
    margin-bottom: 0;
    padding-left: 0;
    margin-left: 0;
}

.sidebar-header{
    color: #FFF;
    font-size: .75rem;
    padding: 1.5rem 1.5rem .375rem;
}

a.sidebar-link{
    padding: .625rem 1.625rem;
    color: #FFF;
    position: relative;
    display: block;
    font-size: 0.875rem;
}

.sidebar-link[data-bs-toggle="collapse"]::after{
    border: solid;
    border-width: 0 .075rem .075rem 0;
    content: "";
    display: inline-block;
    padding: 2px;
    position: absolute;
    right: 1.5rem;
    top: 1.4rem;
    transform: rotate(-135deg);
    transition: all .2s ease-out;
}

.sidebar-link[data-bs-toggle="collapse"].collapsed::after{
    transform: rotate(45deg);
    transition: all .2s ease-out;
}

.sidebar ul li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
}

.sidebar ul li a{
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
}

.sidebar ul li a::after{
    content: '';
    height: 3px;
    width: 0;
    background: #fff;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
}

.sidebar ul li a:hover::after{
    width: 100%;
}


.avatar{
    height: 40px;
    width: 40px;   
}

.navbar-expand .navbar-nav {
    margin-left: auto;
}

.content{
    flex: 1;
    max-width: 100vw;
    width: 100vw;
}

@media (min-width: 768px){
    .content{
        max-width: auto;
        width: auto;
    }
}

.card{
    box-shadow: 0 0 .875rem 0 rgba(34, 46, 60, .05);
    margin-bottom: 24px;
}

.illustration{
    background-color: var(--bs-primary-bg-subtle);
    color: var(--bs-emphasis-color);
}

.illustration-img{
    max-width: 150px;
    width: 100%;
}

#sidebar.collapsed{
    margin-left: -264px;

}

.current-day {
    background-color: #FF7360;
    color: black;
    font-weight: bolder;
}

/* footer and nav */

@media (max-width:767.98px){
    .navbar, footer{
        width: 100vw;
    }
}